<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS Demo</title>
</head>
<body>
    <label>IPFS PUBSUB</label>
    <form action="/subscribe" method="POST" enctype="multipart/form-data">
        <!-- <label for="">Filename</label>
        <input type="text" name="filename">
        <br><br>
        <label for="">Upload file</label>
        <input type="file" name="file">
        <br><br> -->
        <input type="submit" value="Subscribe">
    </form>  
    <form action="/sendMessage" method="POST" enctype="multipart/form-data">
        <!-- <label for="">Filename</label>
        <input type="text" name="filename">
        <br><br>
        <label for="">Upload file</label>
        <input type="file" name="file">
        <br><br> -->
        <input type="submit" value="Send Message">
    </form>
    <!-- <button onclick="myFunction()">Click me</button> -->
</body>
</html>